<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hosting Page</h1>
    <form
      action="/hosting"
      method="post"
      style="border: solid; border-color: red"
    >
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" />
      </div>

      <div>
        <label for="price">Price</label>
        <input type="number" step="0.01" name="price" />
      </div>

      <div>
        <label for="capacity">Capacity</label>
        <input type="number" name="capacity" />
      </div>

      <div>
        <label for="availabilityStart">Availability Start</label>
        <input type="date" name="availabilityStart" />
      </div>

      <div>
        <label for="availabilityEnd">Availability End</label>
        <input type="date" name="availabilityEnd" />
      </div>

      <div>
        <label for="country">Country</label>
        <input type="text" name="country" />
      </div>

      <div>
        <input type="hidden" name="hostId" value="1" />
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
